body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color:lightslategrey;
    text-align: center;
    border-bottom: 3px solid black;
    padding-left: 500px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    
    color: black;
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    padding: 2%;
    font-size: 20px;
  }
  
 /* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ddd;
  color: black;
}
  
h1{
   
    color: black;
    margin-top: 50px;
    padding: 20px;
    margin-inline: 400px;
    text-align: center;
    font-size: 40px;
}

body{
    background-color: darkcyan;
}


p{
    text-align: center;
}

hr{
  width: 8rem;
  margin-bottom: 10px;
  margin-top: -10px;
  height: 2px;
  background-color:lightslategrey ;
  border: none;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 55%; 
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
/*Style inputs with type="email", select elements and textareas */
input[type=email], select, textarea {
  width: 55%;
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: lightslategrey;
    color: white;
    margin: 200 0 10;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
   
 
  }


  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: lightcyan;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .button {
    background-color: lightslategrey;
    border: none;
    color: white;
    padding:8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
  }

  .button1 {border-radius: 14px;}

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
